form {
  border-radius: 5px;
  background-color: #E3DFDE;
  margin: 20px auto; 
  padding: 35px;
  width: 90%;
}

form textarea {
  width: 100%;
  height: 150px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #E3DFDE;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #87604E;
  color: #E3DFDE;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover, button:focus {
  filter: brightness(125%);
}



@media only screen and (min-width: 600px) {
    form {
    width: 70%;
  }
}


@media only screen and (min-width: 768px) {
  form {
    width: 50%;
  }
}


@media only screen and (min-width: 992px) {
  form {
    width: 40%;
  }
}


@media only screen and (min-width: 1200px) {
    form {
    width: 30%;
  }
}