

h2 {
	display: block;
}

aside {
	background: #E3DFDE;
	font-size: 120%;
	padding: 5px 0;
	text-align: center;
	width: 100%;
}


aside a {
	color: #4B3C35;
	display: block;
	padding: 5px 0;
	text-decoration: none;
	width: 100%;
}


aside a:hover {
	background-color: #4B3C35;
	color: white;
}



aside a:focus {
  background-color: #4B3C35;
  color: #E3DFDE;
  outline: none;
}


article {
	background-color: #E3DFDE;
	color: #4B3C35;
	font-size: 120%;
	padding: 0 10px;
}

article a {
	color: #4B3C35;
	padding: 5px;
	text-decoration: none;
}


article a:hover {
  background-color: #E3DFDE;
  color: #4B3C35;
}



article a:focus {
  background-color: white;
  color: #b10eb1;
  outline: none;
}

#main_image {
	width: 100%;
}



@media only screen and (min-width: 768px) {

	main {
		display: flex;
	}

	aside {
		align-items: center;
		display: flex;
		flex-direction: column;
		float: left;
		justify-content: center;
		width: 30%;
	}

	section {
		display: inline;
		float: right;
		width: 70%;
	}

}