
* {
	box-sizing: border-box;
}

body {
	background: pink;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

header {
    background-color: #6aaafd;
    overflow: hidden;
  }
  
  
  #hamburger_checkbox {
    display: none;
  }
  
  
  #hamburger_image {
    background-color: white;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 10%;
  }
  
  
  
  input[id="hamburger_checkbox"]:not(:checked) + nav {
    display: none;
  }
  
  
  h1 {
    font-family:Brush Script MT;
    color: #921d4a;
    float: left;
    padding: 0 20px;
    width: 100%;
  }
  
  
  
  nav a {
    color: #E3DFDE;							
    float: left;
    font-size: 17px;
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  
  
  
  nav a:hover {
    background-color: #E3DFDE;
    color: #4B3C35;
  }
  
  
  nav a:focus {
    background-color: white;
    color: black;
    outline: none;
  }
  
  
  .active_nav {
    background-color: #87604E;
    color: white;
  }

  
footer {
	background: #4B3C35;
  color: #E3DFDE;
	padding: 32px;
	text-align: center;
	width: 100%;
}
  
   
  @media only screen and (min-width: 768px) {
  
        
        #hamburger_image {
          display: none;
        }
  
        
        input[id="hamburger_checkbox"]:not(:checked) + nav {
          display:block
        }
  
        
        h1 {
          text-align: left;
          width: 390px;
        }
  
        
        nav {
          float: right;
        }
  
        
        nav a {
          width: auto;
        }
  }
  
  